{% load static %}
<footer>
	<div class="footer-icon-list">
		<a href="https://www.birdhausbeergarden.com/s/order" class="footer-icons">
			<img
				class="footer-logos"
				src="{% static 'images/square_logo.png' %}"
			/>
        </a>
        <a href="https://www.instagram.com/the.lone.crow/" class="footer-icons">
            <img
                class="footer-logos"
                src="{% static 'images/instagram_logo.png' %}"
            />
        
        </a>
        <div>
            <a href="/"">Info</a>
            <a href="/"">Contact</a>
            <a href="/">Marketing</a>

            <p>2021 The Lone Crow</p>
        </div>
	</div>
</footer>