{% load static %}
<header>
  <!-- <div class="coin"></div> -->
  <a href="/">
    <img class="coin" src="{% static 'images/brawl-stars-logo.png' %}" alt="crow logo" />
  </a>  
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <nav>
    <ul class="nav_links">
      <!-- <li class="cart-component"><a href="/main">About</a></li>
      <li class="cart-component"><a href="https://www.birdhausbeergarden.com/s/order">Kitchen</a></li>
      <li class="cart-component"><a href="/shop">Shop</a></li> -->
      <li>

      </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</header>