@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

:root {
    /* --background: #24252a; */
    --background: transparent;
}

header {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7vh 3%;
    height: 10vh;
    z-index: 999;
    position: fixed;
}

.logo {
    height: 8vh;
    /* background-color: white;
    border-radius: 1000px;
    padding: 9px; */
    opacity: unset;
}

header nav {
    z-index: 999;
    position: relative;
    text-align: right;
    top: 100%;
    left: 0;
    margin-top: 50vh;
    background: var(--background);
    width: 200%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    /* background-color: rgba(255, 255, 255, 0.892); */
}

.nav_links li {
    list-style: none;
    margin: 6vh 3vw;
}

.cart-component a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    transform: opacity 150ms ease-in-out;
    text-shadow: 1px 1px 5px #000000;
}

.cart-component a:hover {
    color: goldenrod;
}

header ul,
header li,
header a,
header span {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}


.cart-count {
    color: white;
    text-shadow: 1px 1px 5px #000000;
    font-size: 1rem;
    display: inline-block;
    background-color: gold;
    padding: 0.6vh;
    border-radius: 100px;
    position: absolute;
    /* right: 0; */
}

.cart {
    display: inline-block;
    height: 7vh;
}

/* Responsive Hamburger icon */

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transform: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0vh;
    right: 5%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 0.7vh;
    width: 6vh;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 2vh;
}

.nav-toggle-label span::after {
    top: 2vh;
}

/* Responsive adjustments */

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        /* grid-template-columns: 1fr auto minmax(300px, 1fr) 1fr; */
        grid-template-columns: 1fr 1fr;
        padding: 3vh 2%;
        height: auto;
        position: absolute;
    }

    .logo {
        grid-column: 1 / 3;
        height: 10vh;
        /* background-color: white;
        border-radius: 1000px;
        padding: 10px; */
        opacity: unset;
    }

    header nav {
        all: unset;
        grid-column: 4 / 4;
        /* justify-content: flex-end; */
        align-items: center;
    }

    .nav_links {
        display: flex;
    }

    .nav_links li {
        margin: 3vh 3vw;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .cart-component a {
        opacity: 1;
        position: relative;
        font-size: 2vw;
    }

    .cart-component a::before {
        content: '';
        display: block;
        height: 5px;
        background: goldenrod;
        position: absolute;
        top: 1.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .cart-component a:hover::before {
        transform: scale(1, 1);
    }



}
